version: '4'
services:
  mysql:
    image: mysql:9.5.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: inventory-service
    volumes:
      - ./docker/mysql-inventory/data:/data/db